.heading{
  text-align: center;
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-container{  
  box-shadow: 0 0 5px gray;
  background-color: rgb(249, 241, 241);
  width: 350px;
  height: auto;
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
  border-radius: 5px;
}

.card-image{
  width:350px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 5px auto;
  border-radius: 10px;
}

.card-title{
  text-align: center;
  color: brown;
}

.card-description{
  font-size: 18px;
  margin: 0px 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
}

.card-product-price{
  margin: 20px 0 ;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.card-price{
  font-size: 18px;
  font-weight: bold;
}

.card-price-1{
  font-size: 18px;
}

.card-error{
  text-align: center;
  color: red;
}

.card-quantity-conatainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-quantity-symbol{
  height: 50px;
  cursor: pointer;
}

.card-quantity{
  font-size: 40px;
  margin: 0 35px;
}

.card-btn{
  padding: 8px 30px;
  background-color: bisque;
  font-weight: bold;
  color: brown;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px brown;
}

.card-btn:hover{
  box-shadow: 0 0 12px brown;
}